@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }

  .bg-wedding-pattern {
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj2FvzqyWshUu4xMj5QkCPh6NNWPUyN1dzE8TThiXWuiQyJvjlN0P7p41gqQhOW9nJM7LYXb2zWdKSVZrexvV0rUkk1JlRz8N5wLQiT2SW2sD7tnt0X48usAiws5SKGguXd-HH3pd4h0KXwJ5NN6aqWopJgLYSslo7W1pF7OR3z1fDCfW7jjs-PkuN6i_9t/s1920/Bg-01.webp');
  }
}